@import "config";
@import "gallery_grid";

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Assistant", sans-serif;
  line-height: 1.6;
}

a {
  text-decoration: none;
}

h2,
h3,
h4 {
  text-transform: uppercase;
}

img {
  width: 100%;
}

ul {
  list-style: none;
}

// logo

.logo {
  width: 60px;
  height: 40px;
}

#main-nav {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 1rem;
  z-index: 5;

  &.scrolled {
    background-color: rgba(0, 0, 0, 0.755);
    transition: background-color 0.5s;
  }
  ul {
    display: flex;

    li {
      padding: 1rem 1.5rem;
    }
  }

  a {
    text-transform: uppercase;
    color: #fff;
    padding-bottom: 0.55rem;
    border-bottom: 3px transparent solid;
    transition: border-color 0.5s;

    &.current {
      border-bottom: 3px $main-color solid;
    }

    &:hover {
      border-color: $main-color;
    }
  }
}

// header
#header {
  &-home {
    background-image: linear-gradient(
        to top,
        #00000078,
        rgba(67, 67, 67, 0.455)
      ),
      url("../img/profilePic.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    // head content

    .header-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      padding-top: 15%;
      color: $light-color;

      h1 span {
        margin-right: 0.55rem;
      }
    }
  }

  &-inner {
    background: $bg-image no-repeat 30% 30% / cover;
    height: 15vh;
  }
}

// sections

// a

#home {
  &-a {
    .my-spicealztion {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 1rem;

      & > div {
        padding: 1rem;
        border: 1px solid $main-color;
      }

      .fas {
        color: $main-color;
        margin-bottom: 1rem;
      }
    }
  }

  // b
  &-b {
    .stats {
      display: grid;
      grid-template-columns: repeat(3, 1fr);

      div {
        padding: 3rem;

        &:nth-child(1) {
          background-color: $complentary-color3;
          color: set-text-color($complentary-color3);
          // @include poligon-traingle-right;
        }

        &:nth-child(2) {
          background-color: $medium-color;
        }

        &:last-child {
          background-color: $complentary-color2;
          color: set-text-color($complentary-color2);
          // @include poligon-traingle-left;
        }
      }

      li {
        margin-bottom: 1rem;
      }

      .description {
        font-size: 2rem;
      }

      .number {
        font-size: 1.3rem;
      }
    }
  }

  &-c {
    .process {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 1rem;
      align-items: center;

      .step-number {
        background-color: $main-color;
        color: white;
        border-radius: 50%;
        padding: 0.75rem 1rem;
        position: absolute;
        top: 0;
        right: 0;
        font-size: 1rem;
      }

      .step-icon {
        font-size: 3rem;
        background-color: $dark-color;
        padding: 3rem;
        margin-bottom: 1rem;
        border-radius: 50%;
        color: white;
        position: relative;

        &:hover {
          background-color: $main-color;
          color: $dark-color;

          transition: all 0.5s ease-out;

          .step-number {
            background-color: $dark-color;
            color: $light-color;
          }
        }
      }
    }
  }
}

// about page

#about {
  &-a {
    background-color: $main-color;

    .border-bottom-highlight {
      background-color: $light-color;
    }

    .biography {
      display: grid;
      grid-template-areas: "bioimage  bio  bio";
      grid-gap: 1rem;

      img {
        width: 400px;
      }

      .bio-img {
        grid-area: bioimage;
      }

      .bio-txt {
        background-color: $medium-color;
        color: set-text-color($medium-color);
        padding: 1rem;
        grid-area: bio;
        line-height: 2.5;
        font-size: 1.1rem;
        h3 {
          margin-bottom: 0.75rem;
          font-size: 1.5rem;
        }
      }
    }
  }

  // section b
  &-b {
    .container {
      max-width: 700px;
    }
    .progress {
      background-color: $medium-color;
      height: 20px;
      border-radius: 15px;
      margin: 1rem 0;

      div {
        background-color: $main-color;
        height: 100%;
        border-radius: 15px;
      }
    }
  }

  // secction-c

  &-c {
    background-color: $complentary-color1;

    color: set-text-color($complentary-color1);

    .edoyot {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 2rem;
      align-items: center;

      .recommendation {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      .recommendation-text {
        background-color: $medium-color;
        color: set-text-color($medium-color);
        font-weight: bold;
        padding: 2rem;
        text-align: center;
        border-radius: 15px;
        margin-bottom: 1rem;
      }

      img {
        width: 180px;
        margin-right: 0.75rem;
        border-radius: 50%;
      }

      ul {
        display: flex;

        align-items: center;

        li {
          .recommendation-list-person-disc {
            color: $light-color;
            cursor: pointer;

            &:last-child {
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
            }

            &:hover {
              border-bottom: 1px $light-color solid;
              padding-bottom: 0.15rem;
            }

            &-name {
              font-size: 1.5rem;
            }

            &-work {
              font-size: 1rem;
              color: $medium-color;
              text-align: center;
            }
          }
        }
      }
    }
  }
}

#contact {
  background-color: $light-color;

  h2 {
    font-weight: 100;
  }

  .contact-form {
    display: grid;
    grid-template-areas:
      "name name email email"
      "subject subject phone phone"
      "massage massage massage massage";
    grid-gap: 1rem;
  }

  .name {
    grid-area: name;
  }

  .email {
    grid-area: email;
  }

  .subject {
    grid-area: subject;
  }

  .phone {
    grid-area: phone;
  }

  .massage {
    grid-area: massage;
  }

  input {
    padding: 1rem;
  }

  input[type="submit"] {
    grid-column: 1 / span 4;
  }

  textarea {
    height: 100px;
  }

  .captcha {
    display: block;
  }
}

#main-footer {
  background-color: $dark-color;
  color: $light-color;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  height: 5rem;

  ul {
    display: flex;

    li {
      padding: 1rem;

      i {
        color: $light-color;
        font-size: 1.5rem;
        border: 2px solid white;
        padding: 0.55rem 0.75rem;
        border-radius: 50%;
        transition: border-color 0.5s;

        &:hover {
          border-color: $main-color;
        }
      }
    }
  }

  // section c
}

@import "media";
